@font-face {
  font-family: "Letter Magic";
  src: local("Letter Magic.woff"), url("Letter Magic.woff");
}

@font-face {
  font-family: "Bellota Regular";
  src: local("BellotaText-Regular.ttf"), url("BellotaText-Regular.ttf");
}

:root {

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bellota Regular";
  overflow-x: clip;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  position: relative;
  min-height: 4000px;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: absolute;
}

header {
  text-align: left;
  height: calc(100vh - 154px);
  position: relative;
  background-image: url('splash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.marquee {
  font-size: 60px;
  text-transform: uppercase;
  height: 60px;
  overflow: hidden;
}

.marquee span {
  position: absolute;
  white-space: nowrap;
  animation: leftMarquee 7s linear infinite;
}

.marquee.right-direction span {
  animation: rightMarquee 7s linear infinite;
}

@keyframes leftMarquee {
  0% { left: 0; }
  100% { left: -383px; }
}

@keyframes rightMarquee {
  0% { left: -383px; }
  100% { left: 0; }
}

.collage {
  position: relative;
  height: 2000px;
  touch-action: none;
}

.collage .polaroid {
  position: absolute;
  cursor: move;
  box-shadow: 4px 4px 16px rgba(0,0,0, .4);
  touch-action: none;
  background: white;
  padding: 18px;
  width: 336px;
  border-radius: 4px;
}

.collage img {
  width: 100%;
}

.collage p {
  height: 36px;
  font-size: 18px;
  text-align: center;
  margin: .5rem 0 0;
}

@media (max-width: 800px) {
  .collage .polaroid {
    width: 275px;
  }
}