
.collage {
    position: relative;
    height: 3000px;
  }
  
  .collage .polaroid {
    position: absolute;
    cursor: move;
    box-shadow: 4px 4px 16px rgba(0,0,0, .4);
    touch-action: none;
    background: white;
    padding: 18px;
    width: 336px;
    border-radius: 4px;
  }
  
  .collage img {
    width: 100%;
  }
  
  .collage p {
    height: 36px;
    font-size: 18px;
    text-align: center;
    margin: .5rem 0 0;
  }
  
  @media (max-width: 800px) {
    .collage {
      height: 5000px;
    }
  
    .collage .polaroid {
      width: 275px;
    }
  }