.countdown {
    color: var(--red);
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -45px;
}

.countdown-count-border {
    border: 3px dashed var(--red);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    font-size: 64px;
    animation: clockwise 14s linear infinite;
}

.countdown-count {
    position: absolute;
    top: 33px;
    width: 100%;
    transform: rotate(-16deg);
    left: -2px;
}

.countdown-number {
    font-weight: 800;
    font-size: 84px;
    text-align: center;
    letter-spacing: -4px;
    padding-top: 8px;
}

.countdown-day {
    text-align: center;
    font-weight: 200;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: -3px;
    margin-top: -28px;
}

@keyframes clockwise {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@media (max-width: 1000px) {
    .countdown-count-border {
        width: 175px;
        height: 175px;
    }

    .countdown-count {
        left: 1px;
        top: 30px;
    }
  }