.countdown {
    color: var(--red);
    border-radius: 50%;
    position: fixed;
    right: 2.8rem;
    top: -45px;
    z-index: 999;
}

.countdown-count-border {
    background: var(--frost);
    border: 3px dashed var(--red);
    border-radius: 50%;
    width: 180px;
    height: 180px;
    font-size: 64px;
    animation: clockwise 14s linear infinite;
}

.countdown-count {
    position: absolute;
    top: 33px;
    width: 100%;
    transform: rotate(-16deg) translate(2px, 4px);
    left: 2px;
}

.countdown-number {
    font-weight: 800;
    font-size: 84px;
    text-align: center;
    letter-spacing: -4px;
    position: relative;
    left: -4%;
}

.countdown-day {
    text-align: center;
    font-weight: 200;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: -3px;
    position: absolute;
    top: 77px;
    left: 36px;
}

@keyframes clockwise {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@media (max-width: 1000px) {
    .countdown {
        top: -33px;
        right: -15px;
        position: fixed;
        z-index: -1;
    }

    .countdown-count-border {
        width: 175px;
        height: 175px;
    }

    .countdown-count {
        left: 1px;
        top: 30px;
        transform: rotate(-16deg) translate(-1px, 0px);
    }
  }