.countdown {
    color: var(--red);
    border-radius: 50%;
    position: absolute;
    right: -18px;
    top: -353px;
}

.countdown-count-border {
    border: 3px solid var(--red);
    border-radius: 50%;
    width: 180px;
    height: 180px;
    font-size: 64px;
    /* animation: clockwise 14s linear infinite; */
}

.countdown-count {
    position: absolute;
    top: 33px;
    width: 100%;
    transform: rotate(-16deg) translate(2px, 4px);
    left: -2px;
}

.countdown-number {
    font-weight: 800;
    font-size: 84px;
    text-align: center;
    letter-spacing: -4px;
    position: absolute;
    top: 6px;
    left: 18px;
}

.countdown-day {
    text-align: center;
    font-weight: 200;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: -3px;
    position: absolute;
    top: 77px;
    left: 36px;
}
/* 
@keyframes clockwise {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
} */

@media (max-width: 1000px) {
    .countdown {
        top: -231px;
        right: -29px;
        position: absolute;
    }

    .countdown-count-border {
        width: 175px;
        height: 175px;
    }

    .countdown-count {
        left: 1px;
        top: 30px;
        transform: rotate(-16deg) translate(-1px, 0px);
    }
  }